<!DOCTYPE html>
<html>

<head>
    <title>Create Document</title>
</head>

<body>
    <h1>Create Document</h1>
    <form method="post">
        <label>Name:</label><input type="text" name="name"><br>
        <label>Search ID:</label><input type="text" name="search_id"><br>
        <label>Department:</label><input type="text" name="SEM"><br>
        <label>Certificate ID:</label><input type="text" name="certificate_id"><br>
        <label>Position:</label><input type="text" name="POS"><br>
        <input type="submit" value="Create">
    </form>
    <a href="/">Back to Home</a>
</body>

</html>