<!DOCTYPE html>
<html>

<head>
    <title>Update Document</title>
</head>

<body>
    <h1>Update Document</h1>
    <form method="post">
        <label>Document ID:</label><input type="text" name="doc_id"><br>
        <label>New Name:</label><input type="text" name="name"><br>
        <label>New Search ID:</label><input type="text" name="search_id"><br>
        <label>New Department:</label><input type="text" name="SEM"><br>
        <label>New Certificate ID:</label><input type="text" name="certificate_id"><br>
        <label>New Position:</label><input type="text" name="POS"><br>
        <input type="submit" value="Update">
    </form>
    <a href="/">Back to Home</a>
</body>

</html>